.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid gray;
}

.rightItems {
    display: flex;
    column-gap: 3px;
    justify-content: flex-end;
}

